.wrapper {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    text-align: center;
}

.profile {
    border-radius: 50%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 300px;
    height: 300px;
    margin-top: 20%;
    margin-bottom: 5%;
}

.profile-image {
    border-radius: 50%;
    height: 200px;
    margin-top: 15%;
 }

.add-image {
    margin-top: 5%;
} 


@media screen and (max-width: 500px ){

.profile {
    width: 200px;
    height: 200px;
    margin-top: 50%;
}

.profile-image {
    height: 150px;
}

}