.menuIcon {
    position: relative;
}

.dotIcon {
    z-index: 3;
    cursor: pointer;
}

.menu {
    border: 2px solid rgba(200, 200, 200, 0.3);
    color: black;
    padding: 5px;
    border-radius: 10px;
    background: white;
    position: absolute;
    list-style: none;
    top: 0px;
    left: -60px ;
    z-index: 4;
}

.modal {
    position: absolute;
    z-index: 5;
    top: 0;
    left: -100vh;
    padding: 20px;
    width: 500px;
    background: white;
    border: 2px solid rgb(42, 157, 143);
    border-radius: 10px;
    filter: blur(0);
    text-align: center;
}

.content {
    margin: 10px 0 !important;
    text-align: center;
}

.alert {
    color: rgb(42, 157, 143);
}

.deleteBtn {
    background: rgb(42, 157, 143);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}