.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}


.navbar {
  background: black;
}

.tabBody {
  display: flex;
  flex-direction: row;
}

.tabTitle {
  color: rgb(42, 157, 143)
}

.description {
  margin-top: 145px;
  padding: 20px;
  width: 30%;
  height: 100vh;
  border-radius: 0 0 15px 0;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* box-shadow: 6px 6px 4px -4px rgba(0, 0, 0, 0.7); */
  /* font-size: 100px; */
}
.friends{
  margin-top: 160px;
}
.postSection {
  margin-top: 160px;
  padding: 20px;
  width: 90%;
}

span {
  padding: 0 !important;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
