.tabMenuIcon {
    margin-top: 10px;
    position: relative;
}

.tabDotIcon {
    z-index: 3;
    cursor: pointer;
}

.tabMenu {
    border: 2px solid rgba(200, 200, 200, 0.3);
    color: black;
    padding: 5px;
    border-radius: 10px;
    background: white;
    position: absolute;
    list-style: none;
    top: 0px;
    right: 20px ;
    z-index: 4;
}

.tabModalBackground {
    z-index: 5;
    top: 0;
    left: 0vh;
    height: 100vh;
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
    position: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.tabModal {
    position: absolute;
    z-index: 6;
    top: 45%;
    left: 30%;
    padding: 20px;
    width: 500px;
    background: white;
    border: 2px solid rgb(42, 157, 143);
    border-radius: 10px;
    filter: blur(0);
    text-align: center;
}

.content {
    margin: 10px 0 !important;
    text-align: center;
}

.alert {
    color: rgb(42, 157, 143);
}

.deleteBtn {
    background: rgb(42, 157, 143);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}

.tabDelBtn,
.tabEditBtn {
    cursor: pointer;
}