.carousel {
    padding:1%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
    background: rgb(0, 0, 0);
}

.carousel-tabs {
    width: 50%;
}

.new-tab {
    /* margin-right: 3%; */
    text-align: center;
}


.new-tab i, .logout i{
    font-size: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.logout{
    margin-right: 1%;
    text-align: center;
}


.card-body {
    margin-left: 5%;
}

.tabs {
    font-size: 15px;
    margin-left: 40%;
    color: rgb(255, 255, 255)
}


@media screen and (max-width: 500px ){
    
.new-tab i, .logout i {
    font-size: 20px;
}

.new-tab p, .logout p, .tabs{
    font-size: 10px;
}

}