.commentBox {
    border-top: 1.5px solid rgba(200, 200, 200, 0.3);
    border-bottom: 1.5px solid rgba(200, 200, 200, 0.3);
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    border-style: hidden;
    margin-top: 0 !important;
}
span{
    cursor: pointer;
    padding: 17px 6px;
}