/* .navbar-menu {
    height: 60px;
    width: 100vw;
    display: flex;
    background: rgb(31, 31, 31);
}

.navbar-menu h5 {
    margin-left: 2%;
   margin-top: 1%;
    color: rgb(255, 255, 255);
}

/* .category-btn{
    margin-top: 18px;
    color: rgb(255, 255, 255) ;
}  */

.carousel {
    /* padding:1%; */
    display: flex;
    justify-content: space-between;
    /* margin-top: 70px; */
    background: rgb(0, 0, 0);
}

.carousel-tabs {
    width: 50%;
}

.new-tab p, .logout p, .friends-tab p {
    padding: 5px 0px;
    color: rgb(255, 255, 255);
}

.new-tab i, .logout i, .friends-tab span{
    padding: 0px 0px 8px 0px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.logout, .friends-tab{
    margin-right: 2%;
    text-align: center;
}


.tabs {
    font-size: 15px;
    margin-left: 39%;
    color: rgb(255, 255, 255)
}


@media screen and (max-width: 500px ){
    
    .new-tab i, .logout i {
        font-size: 20px;
    }

    .friends-tab span {
        font-size: 19px;
    }

    .new-tab p, .logout p, .friends-tab p, .tabs{
        font-size: 10px;
        
    }

}